
<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
  </nav>
  
   <h1 style="color:white">Welcome {{user}}</h1>

   <h5 style="color: white;">{{lDate|date:'short' }}</h5>




  <a routerLink="/transaction">View Transaction</a>

<app-animation></app-animation>
  <button class="btn btn-info" (click)="logout()" style="float: right;margin-right:20px">Log Out</button>
<hr>
  <div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Deposit Form</h3>
          
        </div>
        <div class="card-body">
          <form [formGroup]=" dashboardForm " (ngSubmit)="deposit()">

            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
              
                <input type="text" class="form-control" name="acno" formControlName="acno" placeholder="Account No" id="login_acno" required>
                
              </div>
  <div *ngIf="this.dashboardForm.get('acno')?.touched && this.dashboardForm.get('acno')?.errors "   style="color: red;">Invalid account Number</div>



            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
            
              <input type="password" class="form-control" name="pswd" formControlName="pswd" placeholder="password" id="login_pswd" required>
               
            </div>
            <div *ngIf="this.dashboardForm.get('pswd')?.touched && this.dashboardForm.get('pswd')?.errors " style="color: red;">Invalid Password </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="text" class="form-control" name="amt"  formControlName="amt" placeholder="Amount" id="login_amt" required>
            </div>
   <div *ngIf="this.dashboardForm.get('amt')?.touched && this.dashboardForm.get('amt')?.errors " style="color: red;">Invalid Amount </div>

          
            <div class="form-group">
              <input type="submit" value="Deposit"  class="btn btn-primary login_btn " style="width:50%" >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  

  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    
  </div>
  
  <div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">withdrawal Form</h3>
          
        </div>
        <div class="card-body">
          <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">

            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
              
                <input type="text" class="form-control" name="acno1" formControlName="acno" placeholder="Account No" id="login_acno1" required>
                
              </div>

<div *ngIf="this.withdrawForm.get('acno')?.touched && this.withdrawForm.get('acno')?.errors " style="color: red;">Invalid Account number</div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
            
              <input type="password" class="form-control" name="pswd" formControlName="pswd" placeholder="password" id="login_pswd1" required>
              
            </div>
  <div  *ngIf="this.withdrawForm.get('pswd')?.touched && this.withdrawForm.get('pswd')?.errors "  style="color: red;">Invalid Password</div>


            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" name="amt1"  formControlName="amt" placeholder="Amount" id="login_amt1" required>
            </div>
 <div *ngIf="this.withdrawForm.get('amt')?.touched && this.withdrawForm.get('amt')?.errors " style="color: red;">Invalid Amount </div>
            <div class="form-group">
              <input type="submit" value="Withdraw"  class="btn btn-primary login_btn " style="width:50%" >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  