<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
  </nav>

  <div class="row">
    <div class="col"></div>
    
  </div>
 
  <div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Sign Up</h3>
          
        </div>
        <div class="card-body">
          <form [formGroup]=" registerForm" (ngSubmit)="register()">

            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
              
                <input type="text" class="form-control" name="uname" formControlName="uname" placeholder="User Name" id="login_user" required>
                
              </div>
              <div *ngIf="this.registerForm.get('uname')?.touched && this.registerForm.get('uname')?.errors " style="color: red;">Invalid user name </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
            
              <input type="text" class="form-control" name="acno" formControlName="acno" placeholder="account no" id="login_accno" required>
              
            </div>
   <div *ngIf="this.registerForm.get('acno')?.touched && this.registerForm.get('acno')?.errors " style="color: red;">Invalid account Number</div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" name="pwd"  formControlName="pwd" placeholder="password" id="login_password" required>
            </div>
  <div *ngIf="this.registerForm.get('pwd')?.touched && this.registerForm.get('pwd')?.errors " style="color: red;">Invalid Password </div>

            <div class="form-group">
              <input type="submit" value="Register"  class="btn float-right login_btn " style="width:50%" >
            </div>
          </form>
        </div>
        <p style="color:white;align-items:baseline;">Already Existing User? <a routerLink="">Log In</a></p>
      </div>
    </div>
  </div>
  